In [1]:
%matplotlib inline

In [2]:
# Import dependencies
import pandas as pd
import gmaps
import requests as req

# Import gmap API key
from config import g_key

In [3]:
# Store the CSV you saved and created in part one into a Dataframe
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-04-12 18:23:42,-54.8000,-68.3000,42.46,87,75,32.21
1,1,Rikitea,PF,2022-04-12 18:28:00,-23.1203,-134.9692,79.00,69,44,18.14
2,2,Waipawa,NZ,2022-04-12 18:28:01,-41.4122,175.5153,53.74,85,100,12.80
3,3,Cherskiy,RU,2022-04-12 18:28:01,68.7500,161.3000,-13.32,93,77,1.59
4,4,Bredasdorp,ZA,2022-04-12 18:28:02,-34.5322,20.0403,67.64,76,49,3.09

In [4]:
# Drop rows with null values: 7 dropped
city_data_df = city_data_df.dropna()

In [5]:
#city_data_df

In [6]:
# Check dataframe data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Heatmap of Temp

In [7]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-04-12 18:23:42,-54.8000,-68.3000,42.46,87,75,32.21
1,1,Rikitea,PF,2022-04-12 18:28:00,-23.1203,-134.9692,79.00,69,44,18.14
2,2,Waipawa,NZ,2022-04-12 18:28:01,-41.4122,175.5153,53.74,85,100,12.80
3,3,Cherskiy,RU,2022-04-12 18:28:01,68.7500,161.3000,-13.32,93,77,1.59
4,4,Bredasdorp,ZA,2022-04-12 18:28:02,-34.5322,20.0403,67.64,76,49,3.09

In [8]:
# Get the maximum temperature, to avoid error of temps less than 0 degrees F, since google maps does not plot that.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Configure gmpas to use your Google API key
# MUST BE IN THE SAME CODE BLOCK WHERE YOU DECLARE THE FIGURE
gmaps.configure(api_key=g_key)
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, 
                                point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Humidity Heatmap

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap of Clouds

In [11]:
# Heatmap of percent cloudy
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Wind Speed Heatmap

In [12]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### User Input

In [ ]:
# ask the customer to add a min and max temp value
min_temp = float(input("What is the minimum temperature, in Farenheit, that you would like for your trip?"))
max_temp = float(input("What is the maximum temperature, in Farenheit, that you would like for your trip?"))

In [14]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & 
                                      (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2022-04-12 18:28:00,-23.1203,-134.9692,79.00,69,44,18.14
7,7,San Pedro,PH,2022-04-12 18:28:03,14.3500,121.0167,78.31,89,75,2.30
8,8,Kununurra,AU,2022-04-12 18:28:04,-15.7667,128.7333,73.38,94,100,5.75
25,25,Beloha,MG,2022-04-12 18:28:10,-25.1667,45.0500,73.85,78,100,15.08
31,31,Hilo,US,2022-04-12 18:28:13,19.7297,-155.0900,78.28,87,100,4.61

In [15]:
# Check for null values
#print(preferred_cities_df.count())

In [16]:
# Create dataframe called hotel_df to store hotel names along with city, country, max temp, and coords
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
1     Rikitea      PF     79.00 -23.1203 -134.9692
7   San Pedro      PH     78.31  14.3500  121.0167
8   Kununurra      AU     73.38 -15.7667  128.7333
25     Beloha      MG     73.85 -25.1667   45.0500
31       Hilo      US     78.28  19.7297 -155.0900

### Hotel API Pull

In [17]:
# set parameters to search for a hotel
params = {'radius': 5000, 'type': 'lodging', 'key': g_key}

In [18]:
# Importy NumPy
import numpy as np

# Iterate through the DataFrame

for index, row in hotel_df.iterrows():
    # Get the lat and long
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the lat and long to location key for the params dict
    params['location'] = f"{lat},{lng}"
    
    # Use the search term: 'lodging' and our lat and long
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = req.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name, give nulls if no hotel found
    city_hotel = hotel_df.loc[index, "City"]
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print(f"Hotel not found for {city_hotel} ...skipping.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found for Beloha ...skipping.
Hotel not found for Tadine ...skipping.
Hotel not found for Boende ...skipping.
Hotel not found for Amapa ...skipping.
Hotel not found for Gazli ...skipping.
Hotel not found for Lumeje ...skipping.
Hotel not found for Kampene ...skipping.
Hotel not found for Abapo ...skipping.
Hotel not found for Poum ...skipping.

In [19]:
# Check that null values have been assigned 
hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    9
dtype: int64

In [20]:
# Check which cities have nulls
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,79.00,-23.1203,-134.9692,People ThankYou
7,San Pedro,PH,78.31,14.3500,121.0167,Esquivel's Garden And Resort
8,Kununurra,AU,73.38,-15.7667,128.7333,Hotel Kununurra
25,Beloha,MG,73.85,-25.1667,45.0500,NaN
31,Hilo,US,78.28,19.7297,-155.0900,Hilo Hawaiian Hotel
32,Kuching,MY,75.22,1.5500,110.3333,Hilton Kuching
33,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
36,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
37,Kiunga,PG,73.49,-6.1219,141.2906,Airport Lodge Kiunga
58,Waddan,LY,72.21,29.1614,16.1390,محل الشريف محمد العايب

In [21]:
# Drop the nulls
clean_hotel_df = hotel_df.dropna()

In [22]:
# Check to see if it dropped
clean_hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,79.00,-23.1203,-134.9692,People ThankYou
7,San Pedro,PH,78.31,14.3500,121.0167,Esquivel's Garden And Resort
8,Kununurra,AU,73.38,-15.7667,128.7333,Hotel Kununurra
31,Hilo,US,78.28,19.7297,-155.0900,Hilo Hawaiian Hotel
32,Kuching,MY,75.22,1.5500,110.3333,Hilton Kuching
33,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
36,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
37,Kiunga,PG,73.49,-6.1219,141.2906,Airport Lodge Kiunga
58,Waddan,LY,72.21,29.1614,16.1390,محل الشريف محمد العايب
60,Atuona,PF,79.07,-9.8000,-139.0333,Villa Enata

In [24]:
# Pop up marker for each city that displays the hotel name, cityname, country, and max temp
info_box_template = """

<dl>

<dt>Hotel</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots
locations = clean_hotel_df[['Lat','Lng']]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center =(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

# Add a marker layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure
fig

Figure(layout=FigureLayout(height='420px'))